.navbar{
    position: sticky;
    height: 20px;
    bottom: 2%;
    width: 95%;
    height: 8%;
    border-radius: 11px;
    background-color: rgba(154, 182, 166, 0.4);
}

.icones{
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-around;
}